body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    /* background-color: #ff6347; */
    background-image: url("asset//download.jpg");
    color: white;
    padding: 10px 20px;
    text-align: center;
    height: 150px;
}
nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px 0;
    justify-content: space-around;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
h2 {
    color: #ff6347;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.icon-container{
    display: flex;
    flex-direction: column;
}